@model WebSite.Areas.Administration.Models.ViewModels.Users.CreateViewModel

<div id="mo_AddNewUser" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="align-content:center">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            @Html.Partial("/Areas/Administration/Views/Users/Create.cshtml", Model)
        </div>
    </div>
</div>