<table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped" id="table_accessusers">
    <thead>
        <tr class="font-size-sm bg-primary">
            <th style="display:none;"></th>
            <th>@Resources.Request.lbl_Name</th>
            <th>@Resources.Common.lbl_Facility</th>
            <th width="50px">@Resources.Common.lbl_Options</th>
        </tr>
    </thead>
    <tbody id="tbody_accessusers">

    </tbody>
</table>

