<div class="container-fluid start-screen h-100">
    <h1 class="start-screen-title"><span class="fa fa-truck"></span>Logistics</h1>

    <div class="tiles-area clear">

        <div class="tiles-grid tiles-group size-1 fg-black">
            <a href="https://sites.google.com/essilorusa.com/sofibackorders/" data-role="tile" class="fg-white" style="background-color:darkgoldenrod">
                <span class="fa fa-check-square-o icon"></span>
                <span class="branding-bar">Back Orders</span>
            </a>
        </div>

        <div class="tiles-grid tiles-group size-1 fg-black">
            <a href="https://sites.google.com/essilorusa.com/costos-de-scrap/home" data-role="tile" class="fg-white" style="background-color:darkgoldenrod">
                <span class="fa fa-trash-o icon"></span>
                <span class="branding-bar">Costos de Scrap</span>
            </a>
        </div>

    </div>
</div>


@section Styles
{
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-colors.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-rtl.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-icons.min.css">
}

@section scripts {
    <script src="~/Scripts/PLUGINS/metro/metro.min.js"></script>
}
