<div class="container-fluid start-screen h-100">
    <h1 class="start-screen-title">Energy</h1>

    <div class="tiles-area clear">
        <div class="tiles-grid tiles-group size-1 fg-black">
            <a href="http://172.21.69.82/" data-role="tile" class="fg-white" style="background-color:yellow">
                <span class="fa fa fa-lightbulb-o icon" style="color:black"></span>
                <span class="branding-bar" style="color:black">Energy Sensors</span>

            </a>
        </div>
    </div>
</div>


@section Styles
{
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-colors.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-rtl.min.css">
    <link rel="stylesheet" href="~/Content/PLUGINS/metro/metro-icons.min.css">
}

@section scripts {
    <script src="~/Scripts/PLUGINS/metro/metro.min.js"></script>
}
