<!-- CONFIRM BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="confirmbx_generic">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span id="confirmbx_icon" class=""></span><span id="confirmbx_title"></span></div>
            <div class="mb-content" id="confirmbx_msg">
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-lg mb-control-yes" id="confirmbx_yes"><span id="confirmbx_yesTag"></span></button>
                    <button class="btn btn-lg mb-control-close" id="confirmbx_no"><span id="confirmbx_noTag"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONFIRM BOX-->   