<div id="message-box-generic-alert" class="message-box message-box-warning animated fadeIn">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title" style="font-size:xx-large">
                <span class="fa fa-warning" id="message-box-generic-alert-title"></span>
            </div>
            <div class="mb-content">
                <div class="row">
                    <div class="col-xs-12">
                        <p style="font-size: x-large;" id="message-box-generic-alert-legend"></p>
                    </div>
                </div>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-lg mb-control-close btn-default" id="btn_GenericMessageBoxOK"><span>@Resources.Common.btn_OK</span></button>
                </div>
            </div>
        </div>
    </div>
</div>