<table class="table display table-condensed table-strdisplay table table-striped table-bordered table-condensed-xs margin-noneiped" id="tbl_edit" cellspacing="0">
    <thead>
        <tr class="font-size-sm bg-primary">
            <th>@Resources.MFG.ActionPlan.lbl_File</th>
            <th>@Resources.Common.lbl_Options</th>
        </tr>
    </thead>
    <tbody class="ui-state-default sortable">

    </tbody>
</table>