<div id="m_EditParams" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Resources.Catalog.title_ConfigureParameters</h4>
            </div>
            <div class="modal-body">
                <div id="table_CatalogsParameters">
                    @*@Html.Partial("_CatalogsParametersTable")*@
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Common.btn_Back</button>
                <button id="btn_Configure" type="button" class="btn btn-primary">@Resources.Common.btn_Accept</button>
            </div>
        </div>
    </div>

</div>