<div id="mo_signature" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 770px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Resources.Request.lbl_signature</h4>
            </div>
            <div class="modal-body">
                <form id="create-signature" class="lobi-form">
                    <fieldset class="no-padding">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <div id="div_create_signature">
                                    <div id="signature">

                                    </div>
                                </div>
                            </div>
                        </div> 
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Common.btnCancel</button>
                <button id="btn_ResetSignature" type="button" class="btn btn-primary">@Resources.Request.btn_Reset</button>
                <button id="btn_CreateSignature" type="button" class="btn btn-primary">@Resources.Request.btn_CreateSignature</button>
            </div>
        </div>
    </div>
</div>