<div id="mo_showsignature" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 120vh">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">@Resources.Request.lbl_signature</h4>
            </div>
            <div class="modal-body">
                <form id="create-showsignature" class="lobi-form">
                    <fieldset class="no-padding">
                        <div class="row">
                            <div class="col-xs-12">
                               <img id="img-signature" style="border-style:solid"/>
                            </div>
                        </div> 
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Common.btn_Close</button>
                <button id="btn_EditSignature" type="button" class="btn btn-primary">@Resources.Request.btn_EditSignature</button>
            </div>
        </div>
    </div>
</div>