<div id="mo_PreviewVideo" class="modal fade ui-sortable" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="height:50vh">
        <div class="modal-content" style="height:60vh">
            <div class="modal-header" >
                <h4 class="modal-title"><label id="lbl_FileNameTag"></label></h4>
            </div>
            <div class="modal-body padding-none" style="height:50vh">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-body padding-none">
                                <video id="preview_video" loop controls class="videoDetail" style="width:100%">
                                    <source id="spreview_video">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-preview-video" data-dismiss="modal">@Resources.Common.btn_Close</button>
            </div>
        </div>
    </div>
</div>
